// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Bulma
@import '~bulma/css/bulma.css';

.table-container {
    margin: 2rem;
    border: 2px solid #dbdbdb;
}
