<template>
    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Created At</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(product, idx) in products" :key="product.id">
                <td>{{ idx }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.created_at }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                products: [],
            }
        },
        mounted() {
            axios.get('/api/products')
                .then(({ data: products }) => {
                    this.products = products;
                });
        }
    }
</script>
